In [1]:
import pandas as pd
import numpy as np

# Avocado Value

In [2]:
avocado_value_to_load = "avocado_value.csv"

avocado_value_df = pd.read_csv(avocado_value_to_load)
avocado_value_df.head(30)

,"Avocados: U.S. imports by value ($1,000)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Quarter 1,NaN,NaN,NaN,Quarter 2,NaN,NaN,...,Quarter 3,NaN,NaN,NaN,Quarter 4,NaN,NaN,NaN,Ann,NaN
2,NaN,FreshÂ¹,Market year*,Jan,Feb,Mar,Q1,Apr,NaN,May,...,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total,NaN
3,NaN,NaN,2018,"210,504","182,140","206,933","599,577","223,211",NaN,"179,488",...,"188,226","262,554","190,555","641,335","182,957","178,485","163,051","524,492","2,348,390",NaN
4,NaN,NaN,2017,"207,388","182,421","224,948","614,757","224,357",NaN,"210,834",...,"181,054","257,137","322,733","760,924","220,883","170,644","216,061","607,588","2,639,559",NaN
5,NaN,NaN,2016,"161,251","113,829","121,066","396,145","120,049",NaN,"144,379",...,"171,467","164,853","242,517","578,838","239,007","158,690","175,439","573,137","1,916,917",NaN
6,NaN,NaN,2015,"173,913","124,449","143,180","441,542","127,595",NaN,"131,782",...,"160,925","129,984","135,746","426,654","129,008","130,706","114,402","374,117","1,631,504",NaN
7,NaN,NaN,2014,"149,422","111,138","137,833","398,392","123,645",NaN,"114,155",...,"125,406","110,745","149,557","385,708","135,718","114,327","118,674","368,719","1,526,375",NaN
8,NaN,NaN,2013,"105,584","68,668","104,974","279,225","93,601",NaN,"91,417",...,"66,252","72,171","85,962","224,384","120,382","102,556","100,272","323,210","1,089,341",NaN
9,NaN,NaN,2012,"102,787","72,417","86,286","261,490","82,345",NaN,"63,444",...,"46,183","58,385","51,152","155,720","82,295","76,363","78,649","237,307","860,142",NaN
10,NaN,NaN,2011,"101,587","75,227","97,560","274,375","86,213",NaN,"66,860",...,"36,879","69,722","92,924","199,524","77,476","70,680","75,893","224,049","912,999",NaN
11,NaN,NaN,2010,"66,200","48,118","65,695","180,013","51,758",NaN,"41,807",...,"29,989","24,075","35,773","89,836","46,616","56,786","72,570","175,971","574,698",NaN
12,NaN,NaN,2009,"69,880","52,776","66,444","189,100","69,952",NaN,"54,434",...,"48,126","65,198","61,818","175,141","61,124","49,005","51,957","162,087","711,177",NaN
13,NaN,Prepared or preserved,Market year*,Jan,Feb,Mar,Q1,Apr,NaN,May,...,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total,NaN
14,NaN,NaN,2018,"33,959","30,516","32,528","97,004","34,651",NaN,"32,813",...,"29,473","33,843","28,458","91,774","34,246","27,298","29,312","90,855","376,688",NaN
15,NaN,NaN,2017,"22,897","19,496","21,203","63,596","23,619",NaN,"25,239",...,"23,942","25,949","24,437","74,327","31,964","30,569","28,954","91,487","303,515",NaN
16,NaN,NaN,2016,"20,105","17,744","18,027","55,876","19,825",NaN,"18,236",...,"15,440","16,186","15,242","46,868","19,353","21,051","24,001","64,404","221,263",NaN
17,NaN,NaN,2015,"17,188","14,644","14,536","46,368","17,539",NaN,"17,917",...,"17,603","16,584","15,911","50,098","18,499","17,560","17,386","53,445","204,998",NaN
18,NaN,NaN,2014,"17,374","12,223","13,594","43,191","13,475",NaN,"15,456",...,"15,207","15,329","13,729","44,266","14,807","13,071","15,312","43,189","176,684",NaN
19,NaN,NaN,2013,"15,063","11,035","12,292","38,390","12,001",NaN,"11,739",...,"11,551","12,167","10,060","33,778","12,931","13,171","14,213","40,316","147,552",NaN
20,NaN,NaN,2012,"12,911","11,158","12,409","36,478","11,806",NaN,"13,831",...,"14,156","14,630","11,204","39,990","13,840","11,721","12,500","38,061","155,827",NaN
21,NaN,NaN,2011,"11,237","11,901","11,681","34,819","11,530",NaN,"11,676",...,"9,876","11,591","11,155","32,622","13,884","13,047","12,076","39,007","140,534",NaN
22,NaN,NaN,2010,"7,449","5,902","7,645","20,996","7,090",NaN,"7,595",...,"9,098","9,549","8,514","27,161","9,278","10,442","10,794","30,515","102,893",NaN
23,NaN,NaN,2009,"7,839","6,217","6,795","20,851","6,772",NaN,"5,493",...,"6,510","6,490","5,685","18,685","7,710","6,979","7,684","22,373","80,205",NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Totals may not add due to rounding. Merchandis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
avocado_value_df.drop([0, 1, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27], inplace=True)

In [4]:
avocado_value_df.head(30)

,"Avocados: U.S. imports by value ($1,000)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
2,NaN,FreshÂ¹,Market year*,Jan,Feb,Mar,Q1,Apr,NaN,May,...,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total,NaN
3,NaN,NaN,2018,"210,504","182,140","206,933","599,577","223,211",NaN,"179,488",...,"188,226","262,554","190,555","641,335","182,957","178,485","163,051","524,492","2,348,390",NaN
4,NaN,NaN,2017,"207,388","182,421","224,948","614,757","224,357",NaN,"210,834",...,"181,054","257,137","322,733","760,924","220,883","170,644","216,061","607,588","2,639,559",NaN
5,NaN,NaN,2016,"161,251","113,829","121,066","396,145","120,049",NaN,"144,379",...,"171,467","164,853","242,517","578,838","239,007","158,690","175,439","573,137","1,916,917",NaN
6,NaN,NaN,2015,"173,913","124,449","143,180","441,542","127,595",NaN,"131,782",...,"160,925","129,984","135,746","426,654","129,008","130,706","114,402","374,117","1,631,504",NaN
7,NaN,NaN,2014,"149,422","111,138","137,833","398,392","123,645",NaN,"114,155",...,"125,406","110,745","149,557","385,708","135,718","114,327","118,674","368,719","1,526,375",NaN
8,NaN,NaN,2013,"105,584","68,668","104,974","279,225","93,601",NaN,"91,417",...,"66,252","72,171","85,962","224,384","120,382","102,556","100,272","323,210","1,089,341",NaN
9,NaN,NaN,2012,"102,787","72,417","86,286","261,490","82,345",NaN,"63,444",...,"46,183","58,385","51,152","155,720","82,295","76,363","78,649","237,307","860,142",NaN
10,NaN,NaN,2011,"101,587","75,227","97,560","274,375","86,213",NaN,"66,860",...,"36,879","69,722","92,924","199,524","77,476","70,680","75,893","224,049","912,999",NaN
11,NaN,NaN,2010,"66,200","48,118","65,695","180,013","51,758",NaN,"41,807",...,"29,989","24,075","35,773","89,836","46,616","56,786","72,570","175,971","574,698",NaN
12,NaN,NaN,2009,"69,880","52,776","66,444","189,100","69,952",NaN,"54,434",...,"48,126","65,198","61,818","175,141","61,124","49,005","51,957","162,087","711,177",NaN

In [5]:
avocado_value_df.drop(['Avocados: U.S. imports by value ($1,000)','Unnamed: 1', 'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 22'], axis=1, inplace=True)

In [6]:
avocado_value_df.head(20)

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
2,Market year*,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total
3,2018,"210,504","182,140","206,933","599,577","223,211","179,488","180,286","582,985","188,226","262,554","190,555","641,335","182,957","178,485","163,051","524,492","2,348,390"
4,2017,"207,388","182,421","224,948","614,757","224,357","210,834","221,098","656,289","181,054","257,137","322,733","760,924","220,883","170,644","216,061","607,588","2,639,559"
5,2016,"161,251","113,829","121,066","396,145","120,049","144,379","104,369","368,797","171,467","164,853","242,517","578,838","239,007","158,690","175,439","573,137","1,916,917"
6,2015,"173,913","124,449","143,180","441,542","127,595","131,782","129,814","389,191","160,925","129,984","135,746","426,654","129,008","130,706","114,402","374,117","1,631,504"
7,2014,"149,422","111,138","137,833","398,392","123,645","114,155","135,756","373,555","125,406","110,745","149,557","385,708","135,718","114,327","118,674","368,719","1,526,375"
8,2013,"105,584","68,668","104,974","279,225","93,601","91,417","77,504","262,522","66,252","72,171","85,962","224,384","120,382","102,556","100,272","323,210","1,089,341"
9,2012,"102,787","72,417","86,286","261,490","82,345","63,444","59,836","205,625","46,183","58,385","51,152","155,720","82,295","76,363","78,649","237,307","860,142"
10,2011,"101,587","75,227","97,560","274,375","86,213","66,860","61,978","215,051","36,879","69,722","92,924","199,524","77,476","70,680","75,893","224,049","912,999"
11,2010,"66,200","48,118","65,695","180,013","51,758","41,807","35,313","128,878","29,989","24,075","35,773","89,836","46,616","56,786","72,570","175,971","574,698"
12,2009,"69,880","52,776","66,444","189,100","69,952","54,434","60,462","184,849","48,126","65,198","61,818","175,141","61,124","49,005","51,957","162,087","711,177"

In [7]:
# Create a new variable called 'header' from the first row of the dataset
header = avocado_value_df.iloc[0]
# Take the data less the header row
avocado_value_df = avocado_value_df[1:] 
# Rename the dataframe's column values with the header variable
avocado_value_df.rename(columns = header, inplace=True)

In [8]:
avocado_value_df

,Market year*,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total
3,2018,"210,504","182,140","206,933","599,577","223,211","179,488","180,286","582,985","188,226","262,554","190,555","641,335","182,957","178,485","163,051","524,492","2,348,390"
4,2017,"207,388","182,421","224,948","614,757","224,357","210,834","221,098","656,289","181,054","257,137","322,733","760,924","220,883","170,644","216,061","607,588","2,639,559"
5,2016,"161,251","113,829","121,066","396,145","120,049","144,379","104,369","368,797","171,467","164,853","242,517","578,838","239,007","158,690","175,439","573,137","1,916,917"
6,2015,"173,913","124,449","143,180","441,542","127,595","131,782","129,814","389,191","160,925","129,984","135,746","426,654","129,008","130,706","114,402","374,117","1,631,504"
7,2014,"149,422","111,138","137,833","398,392","123,645","114,155","135,756","373,555","125,406","110,745","149,557","385,708","135,718","114,327","118,674","368,719","1,526,375"
8,2013,"105,584","68,668","104,974","279,225","93,601","91,417","77,504","262,522","66,252","72,171","85,962","224,384","120,382","102,556","100,272","323,210","1,089,341"
9,2012,"102,787","72,417","86,286","261,490","82,345","63,444","59,836","205,625","46,183","58,385","51,152","155,720","82,295","76,363","78,649","237,307","860,142"
10,2011,"101,587","75,227","97,560","274,375","86,213","66,860","61,978","215,051","36,879","69,722","92,924","199,524","77,476","70,680","75,893","224,049","912,999"
11,2010,"66,200","48,118","65,695","180,013","51,758","41,807","35,313","128,878","29,989","24,075","35,773","89,836","46,616","56,786","72,570","175,971","574,698"
12,2009,"69,880","52,776","66,444","189,100","69,952","54,434","60,462","184,849","48,126","65,198","61,818","175,141","61,124","49,005","51,957","162,087","711,177"

In [9]:
avocado_value_df.set_index('Market year*')

,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total
Market year*,,,,,,,,,,,,,,,,,
2018,"210,504","182,140","206,933","599,577","223,211","179,488","180,286","582,985","188,226","262,554","190,555","641,335","182,957","178,485","163,051","524,492","2,348,390"
2017,"207,388","182,421","224,948","614,757","224,357","210,834","221,098","656,289","181,054","257,137","322,733","760,924","220,883","170,644","216,061","607,588","2,639,559"
2016,"161,251","113,829","121,066","396,145","120,049","144,379","104,369","368,797","171,467","164,853","242,517","578,838","239,007","158,690","175,439","573,137","1,916,917"
2015,"173,913","124,449","143,180","441,542","127,595","131,782","129,814","389,191","160,925","129,984","135,746","426,654","129,008","130,706","114,402","374,117","1,631,504"
2014,"149,422","111,138","137,833","398,392","123,645","114,155","135,756","373,555","125,406","110,745","149,557","385,708","135,718","114,327","118,674","368,719","1,526,375"
2013,"105,584","68,668","104,974","279,225","93,601","91,417","77,504","262,522","66,252","72,171","85,962","224,384","120,382","102,556","100,272","323,210","1,089,341"
2012,"102,787","72,417","86,286","261,490","82,345","63,444","59,836","205,625","46,183","58,385","51,152","155,720","82,295","76,363","78,649","237,307","860,142"
2011,"101,587","75,227","97,560","274,375","86,213","66,860","61,978","215,051","36,879","69,722","92,924","199,524","77,476","70,680","75,893","224,049","912,999"
2010,"66,200","48,118","65,695","180,013","51,758","41,807","35,313","128,878","29,989","24,075","35,773","89,836","46,616","56,786","72,570","175,971","574,698"
2009,"69,880","52,776","66,444","189,100","69,952","54,434","60,462","184,849","48,126","65,198","61,818","175,141","61,124","49,005","51,957","162,087","711,177"

# Avocado Volume

In [10]:
avocado_volume_to_load = "avocado_volume.csv"

avocado_volume_df = pd.read_csv(avocado_volume_to_load)
avocado_volume_df.head(35)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Avocados: U.S. imports by volume (1,000 pounds)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Quarter 1,NaN,NaN,NaN,NaN,Quarter 2,NaN,...,Quarter 3,NaN,NaN,NaN,Quarter 4,NaN,NaN,NaN,Ann,NaN
4,FreshÂ¹,NaN,Market year*,Jan,NaN,Feb,Mar,Q1,Apr,May,...,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total,NaN
5,NaN,NaN,2018,"216,705",NaN,"184,358","202,821","603,884","197,119","171,803",...,"177,086","198,703","177,494","553,283","198,663","176,578","207,942","583,183","2,288,645",NaN
6,NaN,NaN,2017,"214,330",NaN,"157,957","171,411","543,698","155,963","143,676",...,"140,090","140,622","158,130","438,841","176,368","169,804","191,073","537,244","1,984,597",NaN
7,NaN,NaN,2016,"228,436",NaN,"170,883","183,434","582,753","178,464","141,989",...,"129,448","131,575","155,449","416,471","151,707","149,558","184,931","486,196","1,895,108",NaN
8,NaN,NaN,2015,"193,351",NaN,"138,164","149,668","481,183","129,485","140,010",...,"167,218","158,227","173,893","499,338","178,050","173,883","166,455","518,388","1,912,252",NaN
9,NaN,NaN,2014,"173,353",NaN,"129,254","144,845","447,452","117,249","103,882",...,"119,387","111,120","141,528","372,036","158,640","139,024","144,572","442,236","1,607,530",NaN
10,NaN,NaN,2013,"167,603",NaN,"111,168","129,819","408,590","102,694","97,904",...,"63,872","64,158","73,871","201,901","123,323","125,620","127,530","376,473","1,260,588",NaN
11,NaN,NaN,2012,"134,950",NaN,"97,445","101,860","334,255","87,487","66,922",...,"53,227","69,665","69,269","192,161","114,218","119,587","128,016","361,821","1,107,969",NaN
12,NaN,NaN,2011,"119,050",NaN,"82,960","80,025","282,036","66,248","50,263",...,"23,534","57,441","92,352","173,327","101,182","94,418","106,837","302,438","915,592",NaN
13,NaN,NaN,2010,"110,978",NaN,"81,091","89,568","281,637","60,707","46,366",...,"32,322","26,394","38,718","97,434","61,651","76,736","98,195","236,582","760,616",NaN
14,NaN,NaN,2009,"102,877",NaN,"77,481","86,440","266,798","74,690","55,237",...,"46,103","82,939","90,122","219,164","97,694","88,738","94,543","280,975","951,810",NaN
15,Prepared or preserved,NaN,Market year*,Jan,NaN,Feb,Mar,Q1,Apr,May,...,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total,NaN
16,NaN,NaN,2018,"21,111",NaN,"19,118","20,793","61,021","20,523","19,746",...,"17,434","19,566","16,926","53,926","21,068","16,399","17,670","55,138","228,516",NaN
17,NaN,NaN,2017,"16,223",NaN,"14,313","14,662","45,198","14,994","15,049",...,"13,971","15,162","14,590","43,723","18,351","17,731","16,868","52,949","186,996",NaN
18,NaN,NaN,2016,"14,084",NaN,"13,326","12,990","40,401","13,579","12,439",...,"10,032","10,382","9,788","30,202","12,669","13,587","15,161","41,417","148,364",NaN
19,NaN,NaN,2015,"12,730",NaN,"10,899","11,101","34,730","12,554","12,561",...,"12,420","11,349","11,073","34,842","13,835","12,403","12,477","38,715","146,952",NaN
20,NaN,NaN,2014,"13,511",NaN,"9,462","11,148","34,122","10,582","10,884",...,"10,459","10,628","10,423","31,510","11,133","10,114","11,845","33,092","132,051",NaN
21,NaN,NaN,2013,"12,845",NaN,"10,135","11,055","34,035","10,708","10,476",...,"9,598","9,834","8,212","27,644","10,189","10,167","11,118","31,474","124,672",NaN
22,NaN,NaN,2012,"11,141",NaN,"9,647","10,440","31,228","9,403","10,159",...,"10,188","10,558","8,226","28,971","10,575","9,870","10,617","31,062","121,671",NaN
23,NaN,NaN,2011,"9,583",NaN,"8,686","9,767","28,036","8,865","9,344",...,"7,870","9,353","9,150","26,373","11,336","11,167","10,220","32,723","114,102",NaN
24,NaN,NaN,2010,"8,339",NaN,"6,327","8,279","22,944","7,029","6,601",...,"7,791","8,134","7,554","23,480","7,941","8,937","9,700","26,579","94,708",NaN
25,NaN,NaN,2009,"9,905",NaN,"7,607","8,079","25,591","7,816","6,489",...,"7,094","7,242","6,464","20,801","7,797","7,540","8,310","23,646","91,119",NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Merchandise entering the United States for con...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
avocado_volume_df.drop([0, 1, 2, 3, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28], inplace=True)

In [12]:
avocado_volume_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
4,FreshÂ¹,NaN,Market year*,Jan,NaN,Feb,Mar,Q1,Apr,May,...,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total,NaN
5,NaN,NaN,2018,"216,705",NaN,"184,358","202,821","603,884","197,119","171,803",...,"177,086","198,703","177,494","553,283","198,663","176,578","207,942","583,183","2,288,645",NaN
6,NaN,NaN,2017,"214,330",NaN,"157,957","171,411","543,698","155,963","143,676",...,"140,090","140,622","158,130","438,841","176,368","169,804","191,073","537,244","1,984,597",NaN
7,NaN,NaN,2016,"228,436",NaN,"170,883","183,434","582,753","178,464","141,989",...,"129,448","131,575","155,449","416,471","151,707","149,558","184,931","486,196","1,895,108",NaN
8,NaN,NaN,2015,"193,351",NaN,"138,164","149,668","481,183","129,485","140,010",...,"167,218","158,227","173,893","499,338","178,050","173,883","166,455","518,388","1,912,252",NaN
9,NaN,NaN,2014,"173,353",NaN,"129,254","144,845","447,452","117,249","103,882",...,"119,387","111,120","141,528","372,036","158,640","139,024","144,572","442,236","1,607,530",NaN
10,NaN,NaN,2013,"167,603",NaN,"111,168","129,819","408,590","102,694","97,904",...,"63,872","64,158","73,871","201,901","123,323","125,620","127,530","376,473","1,260,588",NaN
11,NaN,NaN,2012,"134,950",NaN,"97,445","101,860","334,255","87,487","66,922",...,"53,227","69,665","69,269","192,161","114,218","119,587","128,016","361,821","1,107,969",NaN
12,NaN,NaN,2011,"119,050",NaN,"82,960","80,025","282,036","66,248","50,263",...,"23,534","57,441","92,352","173,327","101,182","94,418","106,837","302,438","915,592",NaN
13,NaN,NaN,2010,"110,978",NaN,"81,091","89,568","281,637","60,707","46,366",...,"32,322","26,394","38,718","97,434","61,651","76,736","98,195","236,582","760,616",NaN
14,NaN,NaN,2009,"102,877",NaN,"77,481","86,440","266,798","74,690","55,237",...,"46,103","82,939","90,122","219,164","97,694","88,738","94,543","280,975","951,810",NaN

In [13]:
avocado_volume_df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 4','Unnamed: 10', 'Unnamed: 22'], axis=1, inplace=True)

In [14]:
avocado_volume_df.head(20)

,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
4,Market year*,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total
5,2018,"216,705","184,358","202,821","603,884","197,119","171,803","179,373","548,295","177,086","198,703","177,494","553,283","198,663","176,578","207,942","583,183","2,288,645"
6,2017,"214,330","157,957","171,411","543,698","155,963","143,676","165,175","464,814","140,090","140,622","158,130","438,841","176,368","169,804","191,073","537,244","1,984,597"
7,2016,"228,436","170,883","183,434","582,753","178,464","141,989","89,235","409,688","129,448","131,575","155,449","416,471","151,707","149,558","184,931","486,196","1,895,108"
8,2015,"193,351","138,164","149,668","481,183","129,485","140,010","143,848","413,343","167,218","158,227","173,893","499,338","178,050","173,883","166,455","518,388","1,912,252"
9,2014,"173,353","129,254","144,845","447,452","117,249","103,882","124,675","345,806","119,387","111,120","141,528","372,036","158,640","139,024","144,572","442,236","1,607,530"
10,2013,"167,603","111,168","129,819","408,590","102,694","97,904","73,026","273,623","63,872","64,158","73,871","201,901","123,323","125,620","127,530","376,473","1,260,588"
11,2012,"134,950","97,445","101,860","334,255","87,487","66,922","65,323","219,732","53,227","69,665","69,269","192,161","114,218","119,587","128,016","361,821","1,107,969"
12,2011,"119,050","82,960","80,025","282,036","66,248","50,263","41,281","157,792","23,534","57,441","92,352","173,327","101,182","94,418","106,837","302,438","915,592"
13,2010,"110,978","81,091","89,568","281,637","60,707","46,366","37,889","144,962","32,322","26,394","38,718","97,434","61,651","76,736","98,195","236,582","760,616"
14,2009,"102,877","77,481","86,440","266,798","74,690","55,237","54,946","184,873","46,103","82,939","90,122","219,164","97,694","88,738","94,543","280,975","951,810"

In [15]:
# Create a new variable called 'header' from the first row of the dataset
header = avocado_volume_df.iloc[0]
# Take the data less the header row
avocado_volume_df = avocado_volume_df[1:] 
# Rename the dataframe's column values with the header variable
avocado_volume_df.rename(columns = header, inplace=True)

In [16]:
avocado_volume_df

,Market year*,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total
5,2018,"216,705","184,358","202,821","603,884","197,119","171,803","179,373","548,295","177,086","198,703","177,494","553,283","198,663","176,578","207,942","583,183","2,288,645"
6,2017,"214,330","157,957","171,411","543,698","155,963","143,676","165,175","464,814","140,090","140,622","158,130","438,841","176,368","169,804","191,073","537,244","1,984,597"
7,2016,"228,436","170,883","183,434","582,753","178,464","141,989","89,235","409,688","129,448","131,575","155,449","416,471","151,707","149,558","184,931","486,196","1,895,108"
8,2015,"193,351","138,164","149,668","481,183","129,485","140,010","143,848","413,343","167,218","158,227","173,893","499,338","178,050","173,883","166,455","518,388","1,912,252"
9,2014,"173,353","129,254","144,845","447,452","117,249","103,882","124,675","345,806","119,387","111,120","141,528","372,036","158,640","139,024","144,572","442,236","1,607,530"
10,2013,"167,603","111,168","129,819","408,590","102,694","97,904","73,026","273,623","63,872","64,158","73,871","201,901","123,323","125,620","127,530","376,473","1,260,588"
11,2012,"134,950","97,445","101,860","334,255","87,487","66,922","65,323","219,732","53,227","69,665","69,269","192,161","114,218","119,587","128,016","361,821","1,107,969"
12,2011,"119,050","82,960","80,025","282,036","66,248","50,263","41,281","157,792","23,534","57,441","92,352","173,327","101,182","94,418","106,837","302,438","915,592"
13,2010,"110,978","81,091","89,568","281,637","60,707","46,366","37,889","144,962","32,322","26,394","38,718","97,434","61,651","76,736","98,195","236,582","760,616"
14,2009,"102,877","77,481","86,440","266,798","74,690","55,237","54,946","184,873","46,103","82,939","90,122","219,164","97,694","88,738","94,543","280,975","951,810"

In [17]:
avocado_volume_df.set_index('Market year*')

,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Total
Market year*,,,,,,,,,,,,,,,,,
2018,"216,705","184,358","202,821","603,884","197,119","171,803","179,373","548,295","177,086","198,703","177,494","553,283","198,663","176,578","207,942","583,183","2,288,645"
2017,"214,330","157,957","171,411","543,698","155,963","143,676","165,175","464,814","140,090","140,622","158,130","438,841","176,368","169,804","191,073","537,244","1,984,597"
2016,"228,436","170,883","183,434","582,753","178,464","141,989","89,235","409,688","129,448","131,575","155,449","416,471","151,707","149,558","184,931","486,196","1,895,108"
2015,"193,351","138,164","149,668","481,183","129,485","140,010","143,848","413,343","167,218","158,227","173,893","499,338","178,050","173,883","166,455","518,388","1,912,252"
2014,"173,353","129,254","144,845","447,452","117,249","103,882","124,675","345,806","119,387","111,120","141,528","372,036","158,640","139,024","144,572","442,236","1,607,530"
2013,"167,603","111,168","129,819","408,590","102,694","97,904","73,026","273,623","63,872","64,158","73,871","201,901","123,323","125,620","127,530","376,473","1,260,588"
2012,"134,950","97,445","101,860","334,255","87,487","66,922","65,323","219,732","53,227","69,665","69,269","192,161","114,218","119,587","128,016","361,821","1,107,969"
2011,"119,050","82,960","80,025","282,036","66,248","50,263","41,281","157,792","23,534","57,441","92,352","173,327","101,182","94,418","106,837","302,438","915,592"
2010,"110,978","81,091","89,568","281,637","60,707","46,366","37,889","144,962","32,322","26,394","38,718","97,434","61,651","76,736","98,195","236,582","760,616"
2009,"102,877","77,481","86,440","266,798","74,690","55,237","54,946","184,873","46,103","82,939","90,122","219,164","97,694","88,738","94,543","280,975","951,810"

# Avocado Unit Value

In [18]:
avocado_unitvalue_to_load = "avocado_unitvalue.csv"

avocado_unitvalue_df = pd.read_csv(avocado_unitvalue_to_load)
avocado_unitvalue_df.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Avocados: U.S. imports unit value ($ per pound),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Quarter 1,NaN,NaN,NaN,Quarter 2,NaN,NaN,...,NaN,Quarter 3,NaN,NaN,NaN,Quarter 4,NaN,NaN,NaN,NaN
4,FreshÂ¹,NaN,Market year*,Jan,Feb,Mar,Q1,Apr,May,NaN,...,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Avg
5,NaN,NaN,2018,0.97,0.99,1.02,0.99,1.13,1.04,NaN,...,1.06,1.06,1.32,1.07,1.16,0.92,1.01,0.78,0.90,1.03
6,NaN,NaN,2017,0.97,1.15,1.31,1.13,1.44,1.47,NaN,...,1.41,1.29,1.83,2.04,1.73,1.25,1.00,1.13,1.13,1.33
7,NaN,NaN,2016,0.71,0.67,0.66,0.68,0.67,1.02,NaN,...,0.90,1.32,1.25,1.56,1.39,1.58,1.06,0.95,1.18,1.01
8,NaN,NaN,2015,0.90,0.90,0.96,0.92,0.99,0.94,NaN,...,0.94,0.96,0.82,0.78,0.85,0.72,0.75,0.69,0.72,0.85
9,NaN,NaN,2014,0.86,0.86,0.95,0.89,1.05,1.10,NaN,...,1.08,1.05,1.00,1.06,1.04,0.86,0.82,0.82,0.83,0.95
10,NaN,NaN,2013,0.63,0.62,0.81,0.68,0.91,0.93,NaN,...,0.96,1.04,1.12,1.16,1.11,0.98,0.82,0.79,0.86,0.86
11,NaN,NaN,2012,0.76,0.74,0.85,0.78,0.94,0.95,NaN,...,0.94,0.87,0.84,0.74,0.81,0.72,0.64,0.61,0.66,0.78
12,NaN,NaN,2011,0.85,0.91,1.22,0.97,1.30,1.33,NaN,...,1.36,1.57,1.21,1.01,1.15,0.77,0.75,0.71,0.74,1.00
13,NaN,NaN,2010,0.60,0.59,0.73,0.64,0.85,0.90,NaN,...,0.89,0.93,0.91,0.92,0.92,0.76,0.74,0.74,0.74,0.76
14,NaN,NaN,2009,0.68,0.68,0.77,0.71,0.94,0.99,NaN,...,1.00,1.04,0.79,0.69,0.80,0.63,0.55,0.55,0.58,0.75
15,Prepared or preserved,NaN,Market year*,Jan,Feb,Mar,Q1,Apr,May,NaN,...,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Avg
16,NaN,NaN,2018,1.61,1.60,1.56,1.59,1.69,1.66,NaN,...,1.66,1.69,1.73,1.68,1.70,1.63,1.66,1.66,1.65,1.65
17,NaN,NaN,2017,1.41,1.36,1.45,1.41,1.58,1.68,NaN,...,1.64,1.71,1.71,1.67,1.70,1.74,1.72,1.72,1.73,1.62
18,NaN,NaN,2016,1.43,1.33,1.39,1.38,1.46,1.47,NaN,...,1.49,1.54,1.56,1.56,1.55,1.53,1.55,1.58,1.56,1.49
19,NaN,NaN,2015,1.35,1.34,1.31,1.34,1.40,1.43,NaN,...,1.42,1.42,1.46,1.44,1.44,1.34,1.42,1.39,1.38,1.39
20,NaN,NaN,2014,1.29,1.29,1.22,1.27,1.27,1.42,NaN,...,1.38,1.45,1.44,1.32,1.40,1.33,1.29,1.29,1.31,1.34
21,NaN,NaN,2013,1.17,1.09,1.11,1.13,1.12,1.12,NaN,...,1.11,1.20,1.24,1.23,1.22,1.27,1.30,1.28,1.28,1.18
22,NaN,NaN,2012,1.16,1.16,1.19,1.17,1.26,1.36,NaN,...,1.36,1.39,1.39,1.36,1.38,1.31,1.19,1.18,1.23,1.28
23,NaN,NaN,2011,1.17,1.37,1.20,1.24,1.30,1.25,NaN,...,1.26,1.25,1.24,1.22,1.24,1.22,1.17,1.18,1.19,1.23
24,NaN,NaN,2010,0.89,0.93,0.92,0.92,1.01,1.15,NaN,...,1.12,1.17,1.17,1.13,1.16,1.17,1.17,1.11,1.15,1.09
25,NaN,NaN,2009,0.79,0.82,0.84,0.81,0.87,0.85,NaN,...,0.87,0.92,0.90,0.88,0.90,0.99,0.93,0.92,0.95,0.88
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Unit value calculated by dividing value by vol...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
avocado_unitvalue_df.drop([0, 1, 2, 3, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30], inplace=True)

In [20]:
avocado_unitvalue_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
4,FreshÂ¹,NaN,Market year*,Jan,Feb,Mar,Q1,Apr,May,NaN,...,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Avg
5,NaN,NaN,2018,0.97,0.99,1.02,0.99,1.13,1.04,NaN,...,1.06,1.06,1.32,1.07,1.16,0.92,1.01,0.78,0.90,1.03
6,NaN,NaN,2017,0.97,1.15,1.31,1.13,1.44,1.47,NaN,...,1.41,1.29,1.83,2.04,1.73,1.25,1.00,1.13,1.13,1.33
7,NaN,NaN,2016,0.71,0.67,0.66,0.68,0.67,1.02,NaN,...,0.90,1.32,1.25,1.56,1.39,1.58,1.06,0.95,1.18,1.01
8,NaN,NaN,2015,0.90,0.90,0.96,0.92,0.99,0.94,NaN,...,0.94,0.96,0.82,0.78,0.85,0.72,0.75,0.69,0.72,0.85
9,NaN,NaN,2014,0.86,0.86,0.95,0.89,1.05,1.10,NaN,...,1.08,1.05,1.00,1.06,1.04,0.86,0.82,0.82,0.83,0.95
10,NaN,NaN,2013,0.63,0.62,0.81,0.68,0.91,0.93,NaN,...,0.96,1.04,1.12,1.16,1.11,0.98,0.82,0.79,0.86,0.86
11,NaN,NaN,2012,0.76,0.74,0.85,0.78,0.94,0.95,NaN,...,0.94,0.87,0.84,0.74,0.81,0.72,0.64,0.61,0.66,0.78
12,NaN,NaN,2011,0.85,0.91,1.22,0.97,1.30,1.33,NaN,...,1.36,1.57,1.21,1.01,1.15,0.77,0.75,0.71,0.74,1.00
13,NaN,NaN,2010,0.60,0.59,0.73,0.64,0.85,0.90,NaN,...,0.89,0.93,0.91,0.92,0.92,0.76,0.74,0.74,0.74,0.76
14,NaN,NaN,2009,0.68,0.68,0.77,0.71,0.94,0.99,NaN,...,1.00,1.04,0.79,0.69,0.80,0.63,0.55,0.55,0.58,0.75

In [21]:
avocado_unitvalue_df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 9', 'Unnamed: 10'], axis=1, inplace=True)

In [22]:
avocado_unitvalue_df.head(20)

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
4,Market year*,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Avg
5,2018,0.97,0.99,1.02,0.99,1.13,1.04,1.01,1.06,1.06,1.32,1.07,1.16,0.92,1.01,0.78,0.90,1.03
6,2017,0.97,1.15,1.31,1.13,1.44,1.47,1.34,1.41,1.29,1.83,2.04,1.73,1.25,1.00,1.13,1.13,1.33
7,2016,0.71,0.67,0.66,0.68,0.67,1.02,1.17,0.90,1.32,1.25,1.56,1.39,1.58,1.06,0.95,1.18,1.01
8,2015,0.90,0.90,0.96,0.92,0.99,0.94,0.90,0.94,0.96,0.82,0.78,0.85,0.72,0.75,0.69,0.72,0.85
9,2014,0.86,0.86,0.95,0.89,1.05,1.10,1.09,1.08,1.05,1.00,1.06,1.04,0.86,0.82,0.82,0.83,0.95
10,2013,0.63,0.62,0.81,0.68,0.91,0.93,1.06,0.96,1.04,1.12,1.16,1.11,0.98,0.82,0.79,0.86,0.86
11,2012,0.76,0.74,0.85,0.78,0.94,0.95,0.92,0.94,0.87,0.84,0.74,0.81,0.72,0.64,0.61,0.66,0.78
12,2011,0.85,0.91,1.22,0.97,1.30,1.33,1.50,1.36,1.57,1.21,1.01,1.15,0.77,0.75,0.71,0.74,1.00
13,2010,0.60,0.59,0.73,0.64,0.85,0.90,0.93,0.89,0.93,0.91,0.92,0.92,0.76,0.74,0.74,0.74,0.76
14,2009,0.68,0.68,0.77,0.71,0.94,0.99,1.10,1.00,1.04,0.79,0.69,0.80,0.63,0.55,0.55,0.58,0.75

In [23]:
# Create a new variable called 'header' from the first row of the dataset
header = avocado_unitvalue_df.iloc[0]
# Take the data less the header row
avocado_unitvalue_df = avocado_unitvalue_df[1:] 
# Rename the dataframe's column values with the header variable
avocado_unitvalue_df.rename(columns = header, inplace=True)

In [24]:
avocado_unitvalue_df

,Market year*,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Avg
5,2018,0.97,0.99,1.02,0.99,1.13,1.04,1.01,1.06,1.06,1.32,1.07,1.16,0.92,1.01,0.78,0.90,1.03
6,2017,0.97,1.15,1.31,1.13,1.44,1.47,1.34,1.41,1.29,1.83,2.04,1.73,1.25,1.00,1.13,1.13,1.33
7,2016,0.71,0.67,0.66,0.68,0.67,1.02,1.17,0.90,1.32,1.25,1.56,1.39,1.58,1.06,0.95,1.18,1.01
8,2015,0.90,0.90,0.96,0.92,0.99,0.94,0.90,0.94,0.96,0.82,0.78,0.85,0.72,0.75,0.69,0.72,0.85
9,2014,0.86,0.86,0.95,0.89,1.05,1.10,1.09,1.08,1.05,1.00,1.06,1.04,0.86,0.82,0.82,0.83,0.95
10,2013,0.63,0.62,0.81,0.68,0.91,0.93,1.06,0.96,1.04,1.12,1.16,1.11,0.98,0.82,0.79,0.86,0.86
11,2012,0.76,0.74,0.85,0.78,0.94,0.95,0.92,0.94,0.87,0.84,0.74,0.81,0.72,0.64,0.61,0.66,0.78
12,2011,0.85,0.91,1.22,0.97,1.30,1.33,1.50,1.36,1.57,1.21,1.01,1.15,0.77,0.75,0.71,0.74,1.00
13,2010,0.60,0.59,0.73,0.64,0.85,0.90,0.93,0.89,0.93,0.91,0.92,0.92,0.76,0.74,0.74,0.74,0.76
14,2009,0.68,0.68,0.77,0.71,0.94,0.99,1.10,1.00,1.04,0.79,0.69,0.80,0.63,0.55,0.55,0.58,0.75

In [25]:
avocado_unitvalue_df.set_index('Market year*')

,Jan,Feb,Mar,Q1,Apr,May,Jun,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Avg
Market year*,,,,,,,,,,,,,,,,,
2018,0.97,0.99,1.02,0.99,1.13,1.04,1.01,1.06,1.06,1.32,1.07,1.16,0.92,1.01,0.78,0.90,1.03
2017,0.97,1.15,1.31,1.13,1.44,1.47,1.34,1.41,1.29,1.83,2.04,1.73,1.25,1.00,1.13,1.13,1.33
2016,0.71,0.67,0.66,0.68,0.67,1.02,1.17,0.90,1.32,1.25,1.56,1.39,1.58,1.06,0.95,1.18,1.01
2015,0.90,0.90,0.96,0.92,0.99,0.94,0.90,0.94,0.96,0.82,0.78,0.85,0.72,0.75,0.69,0.72,0.85
2014,0.86,0.86,0.95,0.89,1.05,1.10,1.09,1.08,1.05,1.00,1.06,1.04,0.86,0.82,0.82,0.83,0.95
2013,0.63,0.62,0.81,0.68,0.91,0.93,1.06,0.96,1.04,1.12,1.16,1.11,0.98,0.82,0.79,0.86,0.86
2012,0.76,0.74,0.85,0.78,0.94,0.95,0.92,0.94,0.87,0.84,0.74,0.81,0.72,0.64,0.61,0.66,0.78
2011,0.85,0.91,1.22,0.97,1.30,1.33,1.50,1.36,1.57,1.21,1.01,1.15,0.77,0.75,0.71,0.74,1.00
2010,0.60,0.59,0.73,0.64,0.85,0.90,0.93,0.89,0.93,0.91,0.92,0.92,0.76,0.74,0.74,0.74,0.76
2009,0.68,0.68,0.77,0.71,0.94,0.99,1.10,1.00,1.04,0.79,0.69,0.80,0.63,0.55,0.55,0.58,0.75

# Merge 3 Tables

In [26]:
from functools import reduce

# Compile the list of dataframes 
all_avocado_df = [avocado_value_df, avocado_volume_df, avocado_unitvalue_df]

In [27]:
avocado_merged_df = reduce(lambda  left,right: pd.merge(left,right,on=['Market year*'],
                                            how='outer'), all_avocado_df)

In [28]:
avocado_merged_df

,Market year*,Jan_x,Feb_x,Mar_x,Q1_x,Apr_x,May_x,Jun_x,Q2_x,Jul_x,...,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Avg
0,2018,"210,504","182,140","206,933","599,577","223,211","179,488","180,286","582,985","188,226",...,1.06,1.06,1.32,1.07,1.16,0.92,1.01,0.78,0.90,1.03
1,2017,"207,388","182,421","224,948","614,757","224,357","210,834","221,098","656,289","181,054",...,1.41,1.29,1.83,2.04,1.73,1.25,1.00,1.13,1.13,1.33
2,2016,"161,251","113,829","121,066","396,145","120,049","144,379","104,369","368,797","171,467",...,0.90,1.32,1.25,1.56,1.39,1.58,1.06,0.95,1.18,1.01
3,2015,"173,913","124,449","143,180","441,542","127,595","131,782","129,814","389,191","160,925",...,0.94,0.96,0.82,0.78,0.85,0.72,0.75,0.69,0.72,0.85
4,2014,"149,422","111,138","137,833","398,392","123,645","114,155","135,756","373,555","125,406",...,1.08,1.05,1.00,1.06,1.04,0.86,0.82,0.82,0.83,0.95
5,2013,"105,584","68,668","104,974","279,225","93,601","91,417","77,504","262,522","66,252",...,0.96,1.04,1.12,1.16,1.11,0.98,0.82,0.79,0.86,0.86
6,2012,"102,787","72,417","86,286","261,490","82,345","63,444","59,836","205,625","46,183",...,0.94,0.87,0.84,0.74,0.81,0.72,0.64,0.61,0.66,0.78
7,2011,"101,587","75,227","97,560","274,375","86,213","66,860","61,978","215,051","36,879",...,1.36,1.57,1.21,1.01,1.15,0.77,0.75,0.71,0.74,1.00
8,2010,"66,200","48,118","65,695","180,013","51,758","41,807","35,313","128,878","29,989",...,0.89,0.93,0.91,0.92,0.92,0.76,0.74,0.74,0.74,0.76
9,2009,"69,880","52,776","66,444","189,100","69,952","54,434","60,462","184,849","48,126",...,1.00,1.04,0.79,0.69,0.80,0.63,0.55,0.55,0.58,0.75

In [29]:
avocado_merged_df.all()

Market year*    True
Jan_x           True
Feb_x           True
Mar_x           True
Q1_x            True
Apr_x           True
May_x           True
Jun_x           True
Q2_x            True
Jul_x           True
Aug_x           True
Sep_x           True
Q3_x            True
Oct_x           True
Nov_x           True
Dec_x           True
Q4_x            True
Total_x         True
Jan_y           True
Feb_y           True
Mar_y           True
Q1_y            True
Apr_y           True
May_y           True
Jun_y           True
Q2_y            True
Jul_y           True
Aug_y           True
Sep_y           True
Q3_y            True
Oct_y           True
Nov_y           True
Dec_y           True
Q4_y            True
Total_y         True
Jan             True
Feb             True
Mar             True
Q1              True
Apr             True
May             True
Jun             True
Q2              True
Jul             True
Aug             True
Sep             True
Q3              True
Oct             True
Nov             True
Dec             True
Q4              True
Avg             True
dtype: bool

In [30]:
#Change the column names
avocado_merged_df = reduce(lambda  left,right: pd.merge(left,right,on=['Market year*'],
                                            how='outer', suffixes=('_value','_volume')), all_avocado_df)

In [31]:
avocado_merged_df

,Market year*,Jan_value,Feb_value,Mar_value,Q1_value,Apr_value,May_value,Jun_value,Q2_value,Jul_value,...,Q2,Jul,Aug,Sep,Q3,Oct,Nov,Dec,Q4,Avg
0,2018,"210,504","182,140","206,933","599,577","223,211","179,488","180,286","582,985","188,226",...,1.06,1.06,1.32,1.07,1.16,0.92,1.01,0.78,0.90,1.03
1,2017,"207,388","182,421","224,948","614,757","224,357","210,834","221,098","656,289","181,054",...,1.41,1.29,1.83,2.04,1.73,1.25,1.00,1.13,1.13,1.33
2,2016,"161,251","113,829","121,066","396,145","120,049","144,379","104,369","368,797","171,467",...,0.90,1.32,1.25,1.56,1.39,1.58,1.06,0.95,1.18,1.01
3,2015,"173,913","124,449","143,180","441,542","127,595","131,782","129,814","389,191","160,925",...,0.94,0.96,0.82,0.78,0.85,0.72,0.75,0.69,0.72,0.85
4,2014,"149,422","111,138","137,833","398,392","123,645","114,155","135,756","373,555","125,406",...,1.08,1.05,1.00,1.06,1.04,0.86,0.82,0.82,0.83,0.95
5,2013,"105,584","68,668","104,974","279,225","93,601","91,417","77,504","262,522","66,252",...,0.96,1.04,1.12,1.16,1.11,0.98,0.82,0.79,0.86,0.86
6,2012,"102,787","72,417","86,286","261,490","82,345","63,444","59,836","205,625","46,183",...,0.94,0.87,0.84,0.74,0.81,0.72,0.64,0.61,0.66,0.78
7,2011,"101,587","75,227","97,560","274,375","86,213","66,860","61,978","215,051","36,879",...,1.36,1.57,1.21,1.01,1.15,0.77,0.75,0.71,0.74,1.00
8,2010,"66,200","48,118","65,695","180,013","51,758","41,807","35,313","128,878","29,989",...,0.89,0.93,0.91,0.92,0.92,0.76,0.74,0.74,0.74,0.76
9,2009,"69,880","52,776","66,444","189,100","69,952","54,434","60,462","184,849","48,126",...,1.00,1.04,0.79,0.69,0.80,0.63,0.55,0.55,0.58,0.75

In [32]:
avocado_merged_df.rename(columns={'Jan': 'Jan_unitvalue', 'Feb': 'Feb_unitvalue', 'Mar': 'Mar_unitvalue', 'Q1': 'Q1_unitvalue',\
                                  'Apr': 'Apr_unitvalue', 'May': 'May_unitvalue', 'Jun': 'Jun_unitvalue', 'Q2': 'Q2_unitvalue',\
                                  'Jul': 'Jul_unitvalue', 'Aug': 'Aug_unitvalue', 'Sep': 'Sep_unitvalue', 'Q3': 'Q3_unitvalue',\
                                  'Oct': 'Oct_unitvalue', 'Nov': 'Nov_unitvalue', 'Dec': 'Dec_unitvalue', 'Q4': 'Q4_unitvalue',\
                                  'Avg': 'Avg_unitvalue'}, inplace=True)

In [33]:
avocado_merged_df

,Market year*,Jan_value,Feb_value,Mar_value,Q1_value,Apr_value,May_value,Jun_value,Q2_value,Jul_value,...,Q2_unitvalue,Jul_unitvalue,Aug_unitvalue,Sep_unitvalue,Q3_unitvalue,Oct_unitvalue,Nov_unitvalue,Dec_unitvalue,Q4_unitvalue,Avg_unitvalue
0,2018,"210,504","182,140","206,933","599,577","223,211","179,488","180,286","582,985","188,226",...,1.06,1.06,1.32,1.07,1.16,0.92,1.01,0.78,0.90,1.03
1,2017,"207,388","182,421","224,948","614,757","224,357","210,834","221,098","656,289","181,054",...,1.41,1.29,1.83,2.04,1.73,1.25,1.00,1.13,1.13,1.33
2,2016,"161,251","113,829","121,066","396,145","120,049","144,379","104,369","368,797","171,467",...,0.90,1.32,1.25,1.56,1.39,1.58,1.06,0.95,1.18,1.01
3,2015,"173,913","124,449","143,180","441,542","127,595","131,782","129,814","389,191","160,925",...,0.94,0.96,0.82,0.78,0.85,0.72,0.75,0.69,0.72,0.85
4,2014,"149,422","111,138","137,833","398,392","123,645","114,155","135,756","373,555","125,406",...,1.08,1.05,1.00,1.06,1.04,0.86,0.82,0.82,0.83,0.95
5,2013,"105,584","68,668","104,974","279,225","93,601","91,417","77,504","262,522","66,252",...,0.96,1.04,1.12,1.16,1.11,0.98,0.82,0.79,0.86,0.86
6,2012,"102,787","72,417","86,286","261,490","82,345","63,444","59,836","205,625","46,183",...,0.94,0.87,0.84,0.74,0.81,0.72,0.64,0.61,0.66,0.78
7,2011,"101,587","75,227","97,560","274,375","86,213","66,860","61,978","215,051","36,879",...,1.36,1.57,1.21,1.01,1.15,0.77,0.75,0.71,0.74,1.00
8,2010,"66,200","48,118","65,695","180,013","51,758","41,807","35,313","128,878","29,989",...,0.89,0.93,0.91,0.92,0.92,0.76,0.74,0.74,0.74,0.76
9,2009,"69,880","52,776","66,444","189,100","69,952","54,434","60,462","184,849","48,126",...,1.00,1.04,0.79,0.69,0.80,0.63,0.55,0.55,0.58,0.75

In [34]:
# Shape from wide to long with melt function in pandas
df2=pd.melt(avocado_merged_df,id_vars=['Market year*'], var_name='metrics', value_name='values')
df2.head(200)

    Market year*     metrics   values
0           2018   Jan_value  210,504
1           2017   Jan_value  207,388
2           2016   Jan_value  161,251
3           2015   Jan_value  173,913
4           2014   Jan_value  149,422
5           2013   Jan_value  105,584
6           2012   Jan_value  102,787
7           2011   Jan_value  101,587
8           2010   Jan_value   66,200
9           2009   Jan_value   69,880
10          2018   Feb_value  182,140
11          2017   Feb_value  182,421
12          2016   Feb_value  113,829
13          2015   Feb_value  124,449
14          2014   Feb_value  111,138
15          2013   Feb_value   68,668
16          2012   Feb_value   72,417
17          2011   Feb_value   75,227
18          2010   Feb_value   48,118
19          2009   Feb_value   52,776
20          2018   Mar_value  206,933
21          2017   Mar_value  224,948
22          2016   Mar_value  121,066
23          2015   Mar_value  143,180
24          2014   Mar_value  137,833
25          2013   Mar_value  104,974
26          2012   Mar_value   86,286
27          2011   Mar_value   97,560
28          2010   Mar_value   65,695
29          2009   Mar_value   66,444
..           ...         ...      ...
170         2018  Jan_volume  216,705
171         2017  Jan_volume  214,330
172         2016  Jan_volume  228,436
173         2015  Jan_volume  193,351
174         2014  Jan_volume  173,353
175         2013  Jan_volume  167,603
176         2012  Jan_volume  134,950
177         2011  Jan_volume  119,050
178         2010  Jan_volume  110,978
179         2009  Jan_volume  102,877
180         2018  Feb_volume  184,358
181         2017  Feb_volume  157,957
182         2016  Feb_volume  170,883
183         2015  Feb_volume  138,164
184         2014  Feb_volume  129,254
185         2013  Feb_volume  111,168
186         2012  Feb_volume   97,445
187         2011  Feb_volume   82,960
188         2010  Feb_volume   81,091
189         2009  Feb_volume   77,481
190         2018  Mar_volume  202,821
191         2017  Mar_volume  171,411
192         2016  Mar_volume  183,434
193         2015  Mar_volume  149,668
194         2014  Mar_volume  144,845
195         2013  Mar_volume  129,819
196         2012  Mar_volume  101,860
197         2011  Mar_volume   80,025
198         2010  Mar_volume   89,568
199         2009  Mar_volume   86,440

[200 rows x 3 columns]